<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.printer.dao.WarehouseMapper">
    <insert id="warehouseOut" parameterType="com.printer.domain.Warehouse">
        insert into printermng.tb_warehouse(printer_id, emp_id, inventory, warehouse_in_date, warehouse_out_date)
        values (#{printerId},#{empId},-#{inventory},null,#{warehouseOutDate})
    </insert>


    <select id="getWarehouses" resultType="com.printer.domain.Warehouse">
        select tb_warehouse.warehouse_id,
               tb_warehouse.inventory,
               tb_warehouse.warehouse_in_date,
               tb_warehouse.warehouse_out_date,
               printer.printer_name,
               tb_emp.emp_name
        from printermng.tb_warehouse
                 join printermng.tb_emp on tb_warehouse.emp_id = tb_emp.emp_id
                 join printermng.printer on tb_warehouse.printer_id = printer.printer_id
        order by tb_warehouse.warehouse_id
    </select>
    <select id="getInventory" resultType="com.printer.domain.Warehouse">
        select printer_name, sum(tb_warehouse.inventory) as inventory
        from printermng.tb_warehouse
                 join printermng.printer on tb_warehouse.printer_id = printer.printer_id
        group by printer_name;
    </select>
    <select id="getInventoryByName" resultType="com.printer.domain.Warehouse" parameterType="string">
        select printer_name, sum(tb_warehouse.inventory) as inventory
        from printermng.tb_warehouse
                 join printermng.printer on tb_warehouse.printer_id = printer.printer_id
        where printer_name like concat('%',#{printerName},'%')
        group by printer_name;
    </select>
</mapper>